<section class="container mb-5">
  <div class="row row-company mt-5">
    <div class="col-md-4  photo-company background-radial-gradient">
      <% if @business.logo.attached? %>
        <figure class="figure m-3" >
        <%= image_tag url_for(@business.logo), class: "figure-img img-fluid rounded", style: "width: 100%;" %>
      <% else %>
        <img src="https://www.yeaah.co/wp-content/uploads/2021/08/producto-sin-imagen.jpg" alt="" class="figure-img img-fluid rounded" style="width: 100%;">
        </figure>
      <% end %>
    </div>
    <div class="col-md-8 background-radial-gradient text-white" >
      <h3 class="my-3"><%= @business.name %></h3>
      <h4 class="my-3">RIF: <%= @business.rif %></h4>
      <h4 class="my-3">Dirección: <%= @business.address %></h4>
      <h4 class="my-3">Teléfono: <%= @business.phone %></h4>
      <h4 class="my-3">Correo: <%= @business.email %></h4>
      <h4 class="my-3">Responsable: <%= @business.user.name %></h4>
      <hr class="divider">
      <h4>Siguenos</h4>
      <div class="row row-contact padre">
        <div class="col-md-12 social">
          <a href="<%= @business.ig %>" class="mr-3 text-white"><i class="fab fa-instagram "></i> Instagram</a>
          <a href="<%= @business.fb %>"class="text-white"><i class="fab fa-facebook-square"></i> Facebook</a>
          <a href="https://api.whatsapp.com/send?phone=+584141584350&amp;text=Hola!" target="_blanck" class="text-white"><i class="fab fa-whatsapp-square"></i> Whatsapp</a>
          <a href="<%= @business.location %>"class="text-white"><i class="fas fa-map-marker-alt"></i> Visitanos</a>
        </div>
      </div>
    </div>
  </div>
  <!--Photo Products Company-->
  <section class="row row-company-photo">
    <% @business.products.each do |product| %>
      <div class="col-md-3 mb-2 mt-2">
        <%= link_to product do %>
          <% if product.image.attached? %>
            <%= image_tag url_for(product.image), class:"rounded border", style:"width: 100%;" %>
          <% else %>
            <img src="/producto-sin-imagen-recortada.jpeg" alt="" class="rounded border" style="width: 100%;">
          <% end %>
          <figcaption class="figure-caption text-justify ">
            <p class="fw-bold"><%= product.name %></p> 
            <p class="text-truncate"><%= product.presentation %></p> 
            <p class="">Precio: <%= product.price %> $ </p>
          </figcaption>
        <% end %>
      </div>
    <% end %>
  </section>
  <div>
    <% if user_signed_in? %> 
      <%= link_to "Edit this business", edit_business_path(@business) %> |
      <%= link_to "Back to businesses", businesses_path %> |
      <%= link_to 'New Product', new_business_product_path(@business) %> |
      <% if current_user.superadmin?%>
        <%= link_to "Destroy this business", @business, data: {turbo_method: :delete} %>
      <% end %>
    <% end %>
  </div>
</section>
