<section>
  <div class="card">
    <h2 class="card-header bg-primary text-white">Cambiar contraseña</h2>
    <div class="card-body">
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
              <% @user.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="form-group col-md-6">
            <%= f.label :Nueva_contraseña %>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: ''%>
          </div>
          <div class="form-group col-md-6">
            <%= f.label :Confirmar_contraseña %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: '' %>
          </div>
        </div>
        <div class= "row">
          <%= f.submit "Registrar", class:"btn btn-success btn-xs btn-block mt-2" %>
        </div>
      <% end %>
    </div>
  </div>
<section>