<section class="background-radial-gradient overflow-hidden">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card card-border">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="../1.jpg"
                alt="login form" class="img-fluid img-login" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="text-center mb-3 pb-1">
                    <img class="rounded-circle img-form" src="../logo-links.jpg" alt="">
                  </div>

                  <h2 class="fw-bold text-center pt-2 mb-5">Ingresa datos de acceso</h2>

                  <div class="form-outline mb-4">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Nombre y Apellido",class: 'form-control form-control-lg' %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= f.password_field :password,placeholder: "Clave", autocomplete: "current-password", class: 'form-control form-control-lg'%>
                  </div>

                  <div class="form-group form-check form-switch mb-4">
                    <% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me, class: 'form-check-input' %>
                        <%= f.label :remember_me, class: "form-check-label" %>
                      </div>
                    <% end %>
                  </div>

                  <div class="pt-1 mb-2">
                    <%= f.submit "Acceder", class: "btn btn-primary btn-block" %>
                  </div>

                  <p class="small text-muted mb-2 pb-lg-2"><a  href="#!">¿Has olvidado tu contraseña?</a></p>
                  
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
