<section class="background-radial-gradient overflow-hidden">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100 mt-5">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <h1 class="text-white">Agregar nuevo producto</h1>
        <h2 class="my-5 display-5 fw-bold ls-tight title-one">
          Hola! <br />
          <% if current_user.admin? || current_user.superadmin? %>
            <%= current_user.name%>
          <% end %>
          <span class="title-span">Bienvenido</span>
        </h2>
        <p class="mb-4 opacity-70 paragraf">
          Publica aqui tus mejores productos, con imagenes llamativas, que vendan y mejoren tus ventas
        </p>
        <p class="mb-4 opacity-70 paragraf">
          Publica productos de calidad
        </p>
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-white">
        <%= form_with(model: @product) do |form| %>
          <% if @product.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
              <ul>
                <% @product.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-outline mb-4">
            <%= form.label :image, style: "form-label" %>
            <%= form.file_field :image, class: "form-control form-control-lg" %>
          </div>
          
          <div class="form-outline mb-4">
            <%= form.label :Nombre, style: "form-label" %>
            <%= form.text_field :name, class: "form-control form-control-lg" %>
          </div>

          <div class="form-outline mb-4">
            <%= form.label :Presentacion, style: "form-label" %>
            <%= form.text_field :presentation, class: "form-control form-control-lg" %>
          </div>

          <div class="form-outline mb-4">
            <%= form.label :Precio, style: "form-label" %>
            <%= form.text_field :price, class: "form-control form-control-lg" %>
          </div>

          <div class="field">
            <%# form.label :category_id, "Categoría" %>
            <%# collection_select(:product, :categories, @categories, :id, :name, {:prompt => 'Seleccione una categoria'}, { class: "form-control" })%>
          </div>

          <div class="field">
            <%= form.label :category_ids, "Categorías" %>
            <%# form.collection_select :category_ids, Category.all, :id, :name, {}, { multiple: true, class: "form-control" } %>
            <%# collection_select(:product, :categories, @categories, :id, :name, {:prompt => 'Seleccione una categoria'}, { multiple: true, class: "form-control" })%>
            <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
          </div>

          <div  style="border: solid; #ffdf2d; 2px;">     
            <div class="form-outline mb-4">
              <% form.label :Negocio, style: "form-label" %>
              <% collection_select(:product, :business_id, @businesses, :id, :name, {:prompt => 'Seleccione un negocio'}, { class: "form-control form-control-lg" })%>
            </div>

            <div class="form-row">
              <% if current_user.is_superadmin?%>
                <div class="form-group col-md-6">
                  <label>Empresa</label><br>
                  <%= collection_select(:product, :business_id, @businesses, :id, :name, {:prompt => 'Seleccione un negocio'}, { class: "form-control form-control-lg" })%>       
                </div>
              <% else current_user.is_admin? %>
                <%= collection_select(:product, :business_id, current_user.businesses, :id, :name, {:prompt => 'Nombre de su negocio'}, { class: "form-control form-control-lg" })%>       
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col form-check form-switch mt-3 mx-3">
              <%= form.label "Marcar como destacado", class: "form-check-label" %>
              <%= form.check_box :featured, class: "form-check-input", placeholder: "" %>
            </div>
          </div>

          <div class="text-center text-lg-start my-4 pt-2">
            <%= form.submit "Guardar", class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-2 px-4 px-xl-5 bg-primary">
    <div class="text-white mb-3 mb-md-0">
      <%= link_to "Back to products", products_path, class: "text-white" %>
    </div>
  </div>
</section>
