<section class= "container">
  <article class="product-post gradient_border">
    <div class="product-post__img gradient_border">
      <% if @product.image.attached? %>
          <%= image_tag @product.image, class:"img-fluid" %>
        <% else %>
          <img src="https://www.yeaah.co/wp-content/uploads/2021/08/producto-sin-imagen.jpg" class="img" alt="" >
      <% end %>
    </div>
    <div class="product-post__info">
      <div class="product-post__featured">
        <span>$ <%= @product.price %></span>
        <% if @product.featured? %>
          <span>Producto destacado</span>
        <% else%>
          <span>Oferta</span>
        <% end %>
      </div>
      <h2 class="product-post__title"><%= @product.name %></h2>
      <p class="product-description">
        <%= @product.presentation %>
      </p>
      <%= link_to @product.business, class: "product-post__cta" do %>
        <%= @product.business.name %>
      <% end %>
      <% if user_signed_in? %> 
        <div class="card-footer text-center mt-2">
          <%= link_to 'Edit', edit_business_product_path(@product.business, @product), class: "card-link" %>
          <%= link_to "Volver", products_path, class: "card-link" %>
          <%= link_to "Eliminar", @product, data: {turbo_method: :delete}, class: "card-link" %>
        </div>
      <% end %>
    </div>
  </article>  
</section>
