<header class="header">
  <div class="collapse background-radial-gradient" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-5 py-2">
          <h4 class="text-white ">Sobre Nosotros</h4>
          <p class="text-muted">Somos una alternativa para ofrecer, comprar o saber a donde ir cuando necesites algo. Tus anuncios pueden mostrarse en internet cuando alguien busca productos o servicios como los ofrecidos por ti.</p>
        </div>
        <% if user_signed_in? %>
          <div class="col offset-md-1 py-2">
            <h4 class="text-white">Actions</h4>
            <ul class="list-unstyled">
              <% unless current_user.admin?%>
                <li><i class="fas fa-plus-square"></i> <%= link_to "Crear categoria", new_category_path, class: "text-white" %></li> 
                <li><%= link_to "Categorias", categories_path, class: "text-white" %>  <i class="far fa-folder-open"></i>
                  <hr class="divider">
              <% end %>
              <li><i class="fas fa-plus-square"></i> <%= link_to "Crear negocio", new_business_path, class: "text-white" %></li>
              <li><%= link_to "Negocios", businesses_path, class: "text-white" %>  <i class="fas fa-store-alt"></i>
                <hr class="divider">
              <li><i class="fas fa-plus-square"></i> <%= link_to "Crear producto", new_product_path, class: "text-white" %></li>
              <li><%= link_to "Productos", products_path, class: "text-white" %>  <i class="fas fa-shopping-basket"></i>
                <hr class="divider">
              <% unless current_user.admin?%>
                <li><i class="fas fa-plus-square"></i> <%= link_to 'Agregar cliente', new_user_path, class: "text-white" %></li>
                <li><%= link_to "Clientes", users_path, class: "text-white" %>  <i class="fas fa-users"></i>
                  <hr class="divider">
                <li><i class="fas fa-plus-square"></i> <%= link_to 'Agregar Evento', new_event_path, class: "text-white" %></li>
                <li><%= link_to "Eventos", events_path, class: "text-white" %>  <i class=" fas fa-solid fa-calendar-check"></i>
                <hr class="divider">
                <li><i class="fas fa-plus-square"></i> <%= link_to 'Agregar Inmueble', new_property_path, class: "text-white" %></li>
                <li><%= link_to "Inmuebles", properties_path, class: "text-white" %>  <i class="fas fa-home"></i></i>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col offset-md-1 py-2">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">            
            <li><a href="#" class="text-white"><i class="fas fa-envelope"></i> Email</a></li>
            <li><a href="#" class="text-white"><i class="fab fa-whatsapp-square"></i>  WhatsApp</a></li>
          </ul>
          <h4 class="text-white">Follow me</h4>
          <ul class="list-unstyled">            
            <li><a href="#" class="text-white"><i class="fab fa-linkedin"></i> Linkedin</a></li>
            <li><a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="#" class="text-white"><i class="fab fa-facebook-square"></i></i> Facebook</a></li>
          </ul>

          <h4 class="text-white">Specials</h4>
          <ul class="list-unstyled">            
            <li><i class=" fas fa-solid fa-calendar-check"></i> <%= link_to "Eventos", events_path, class: "text-white" %></li>
            <li><i class="fas fa-newspaper"></i> <%= link_to "Noticias", news_path, class: "text-white" %></li>
            <li><a href="#" class="text-white"><i class="fas fa-feather"></i></i></i> Otros</a></li>
          </ul>
          <% if user_signed_in? %> 
            <h4 class="text-white">Profile</h4>
            <ul class="list-unstyled">
              <div class="rounded bg-primary p-1">
                <ul class="list-unstyled fw-normal pb-1 small px-2">
                  <li> <i class="fas fa-user"></i> <span class="text-white fw-bold">Welcome: <%= current_user.name %></span></li>
                  <li> <i class="fas fa-sign-out-alt"></i> <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class:"text-white" %></li> 
                  <li> <i class="fas fa-id-card"></i> <%= link_to "My profile", user_path(current_user), class: "text-white" %></li>
                  <li> <i class="fas fa-edit"></i> <%= link_to "Edit profile", edit_user_path(current_user), class:"text-white" %></li> 
                </ul>
              </div>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark  shadow-sm">
    <div class="container">
      <span  class="navbar-brand d-flex align-items-center">
        <%= link_to root_path do %> 
          <i class="fas fa-bullhorn"></i><strong class="pl-1">Purchases & Sales</strong>
        <% end %>
      </span>
      <% unless user_signed_in? %> 
        <%= link_to "Sign in", new_user_session_path, class:"btn btn-small btn-success" %> 
      <% end %>
      <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
